nav{
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: white;
    margin: 0 2rem;
    padding: 1rem 0;
}

div.favorite{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    border: 1px solid white;
    background-color: inherit;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.6rem;
    margin: 0 2rem;
}
.favorite-active{
    cursor: pointer;
}

p{
    margin: 0;
}

i{
    color: white;
}

@media (min-width:769px) {
   nav{
    flex-direction: row;
   }
}