<nav class="navbar bg-dark">
    <a class="logo" href="/">
        <img src="assets/logo/logo-primary.svg" alt="pokeball" width="35px">
        <h1>PokeAngular</h1>
    </a>    

    <div>
        <div class="favorite" *ngIf="pokeFav?.id === 0">
            <p >Selecciona un pokemon como favorito!</p>
        </div>
       
        <div #pokeFocus class="favorite favorite-active" *ngIf="pokeFav?.id !== 0" (click)="openModalDetails()">
            <i class="fa-solid fa-star"></i>
            <p>{{ pokeFav?.name}}</p>
            <img
                    [src]="pokeFav?.sprites?.front_default" 
                    alt="{{pokeFav?.name}}" 
                    width="75px"> 
        </div>
        
    </div >
</nav>