
section{
    margin: 2rem;
    text-align: center;
}
p{
    font-size: 2rem;
}
.letter-sum{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10rem;
}