
.poke-details{
    background-color: #E64C3C;
    color: white;
    border-radius: 12px;
    border: 1.5px solid black;
}

.card-header{
    display: flex;
    flex-direction: column;
    font-size: 2rem;

}
.card-header > p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem 2rem;
}
.pokemon-types{
    list-style: none;
    display: flex;
    gap: .5rem;
    padding: 0 2rem 1rem;
}

.card-body{
    font-size: 1.6rem;
    margin: 2rem;
}

.card-body img{
    background-color: white;
}

h6{
    font-size: 1.6rem;
}

.scroll{
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
}

.pokemon-types-list {
    display: flex;
    justify-content: space-between;
}

.pokemon-types-list ul{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.poke-info{
    margin-top: 2rem;
}

.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.card-footer button{
    background-color: inherit;
    border: none;
    color: black;
    font-size: 3rem;
    margin: 0 2rem;
}

@media (min-width: 769px) {
    
    .poke-details{
        
        width: max(500px,40vw);
    }
}

