
.poke-details{
    background-color: #E64C3C;
    color: white;
    border-radius: 12px;
    border: 1.5px solid black;
}

.card-header{
    display: flex;
    flex-direction: column;
    font-size: 2rem;

}
.card-header > p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem 2rem;
}
.pokemon-types{
    list-style: none;
    display: flex;
    gap: .5rem;
    padding: 0 2rem 1rem;
}

.card-body{
    font-size: 1.6rem;
    margin: 2rem;
}

.pokedex-screen{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 90%;
    margin: auto;
    background-color: black;
    border-radius: 16px;
    height: 350px;
}

.pokedex-screen .pokemon-img{
    background-color: white;
    height: min(300px,90%);
    border-radius: 18px;
}

h6{
    font-size: 1.6rem;
    font-weight: 700;
}

.scroll{
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
}

.scroll-item{
    flex: 1;
}
.pokemon-stats{
    display: flex;
    justify-content: space-between;
}

.pokemon-types-list {
    display: flex;
    justify-content: space-between;
}

.pokemon-types-list ul{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.poke-info{
    margin-top: 2rem;
}

.pokedex-nav-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.pokedex-nav-btns button{
    background-color: inherit;
    border: none;
    color: black;
    font-size: 3rem;
    margin: 0 2rem;
}

@media (min-width: 769px) {
    
    .poke-details{
        
        width: max(500px,40vw);
    }
}
