<article id="details" class="card poke-details">
    <div  #pokeSelected class="card-header">
        <p>
            <span># {{pokemon?.id}}</span>
            {{pokemon?.name}}
            <i *ngIf="pokeFav?.id !== 0 && pokeFav?.id === pokemon?.id" (click)="removeFavorite()" class="fa-solid fa-star"></i>
            <i *ngIf="pokemon && (pokeFav?.id ===0 || pokeFav?.id !== pokemon?.id)" (click)="addFavorite(pokemon)" class="fa-regular fa-star"></i>
        </p>

        <ul class="pokemon-types">
            <li *ngFor="let type of pokemon?.types">
                <img [src]="'assets/type-icons/' + type?.type?.name + '.svg'" 
                    alt="{{pokemon?.name}}" 
                    width="25px">  
            </li>
        </ul>
    </div>
    <div class="pokedex-nav-btns">
        <button class="btn btn-info" (click)="prevPokemon()">
            <i class="fa-solid fa-caret-left"></i>
        </button>
        <button class="btn btn-info"  (click)="nextPokemon()">
            <i class="fa-solid fa-caret-right"></i>
        </button>
    </div>
    <div class="card-body pokedex-screen">
        <img
        class="pokemon-img" 
        [src]="pokemon?.sprites?.front_default" 
        alt="{{pokemon?.name}}" 
        >
    </div>
        <hr>
    <div class="card-body">
        <div class="poke-info">
            <div class="scroll">
                <p class="scroll-item">Altura:</p>
                <p class="scroll-item">{{pokemon?.height}} m</p>
            </div>
          
            <hr>
            <div class="scroll">
                <p class="scroll-item">Peso:</p>
                <p class="scroll-item">{{pokemon?.weight}} kg</p>
            </div>
            
            <hr>
            <div class="scroll">
                <h6  class="scroll-item">Habilidades:</h6>
                <ul  class="scroll-item">
                    <li *ngFor="let ability of pokemon?.abilities">
                        {{ ability?.ability?.name }}
                    </li>
                </ul>
            </div>
            <hr>
           <div class="pokemon-stats">
                <div class="scroll-item">
                    <h6>Estadisticas: </h6>
                </div>
                <ul class="scroll-item">
                    <li *ngFor="let stat of pokemon?.stats">
                        {{ stat?.stat?.name }}: {{stat?.base_stat}}
                        <hr>
                    </li>
                </ul>       
            </div>
            <hr>
           <div class="scroll">
                <h6  class="scroll-item">Juegos: </h6>
                <ul  class="scroll-item">
                    
                    <li *ngFor="let game of pokemon?.game_indices">
                        {{ game?.version?.name }}
                        <hr>
                    </li>
                </ul>
           </div>
           <hr>
            <div class="scroll">
                <h6  class="scroll-item">Movimientos: </h6>
                <ul  class="scroll-item">
                
                <li *ngFor="let move of pokemon?.moves">
                    {{ move?.move?.name }}
                    <hr>
                </li>
            </ul>
            </div>
            <hr>
            <div class="pokemon-types-list">
                <h6  class="scroll-item">Tipos: </h6>
                <ul  class="scroll-item">
                    <li *ngFor="let type of pokemon?.types">
                        {{ type?.type?.name }} 
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card-footer pokedex-nav-btns">
        <button class="btn btn-info" (click)="prevPokemon()">
            <i class="fa-solid fa-caret-left"></i>
        </button>
        <button class="btn btn-info"  (click)="nextPokemon()">
            <i class="fa-solid fa-caret-right"></i>
        </button>
    </div>
</article>