<div class="modal-header">
	<h4 class="modal-title">#{{pokemon?.id}}: Nombre: {{pokemon?.name}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true" class="fa-solid fa-times"></span>
      </button>
</div>
<div class="modal-body">
	<div class="card lesson-border">
		<img class="card-img-top" 
        [src]="pokemon?.sprites?.front_default" 
        alt="{{pokemon?.name}}" 
        width="300px"> 
		<div class="card-body">
            
            <hr>
            <div class="info-section">
                <p>Habilidades: </p>
                <ul>
                    <li *ngFor="let ability of pokemon?.abilities">
                        <p>{{ ability?.ability?.name }}</p>
                        <hr>
                    </li>
                </ul>
            </div>
            <div class="info-section">
                <p>Formas: </p>
                <ul>
                    <li *ngFor="let form of pokemon?.forms">
                        <p>{{ form?.name }}</p>
                        <hr>
                    </li>
                </ul>
            </div>
            
            <div class="info-section">
                <p>Juegos: </p>
                <ul>
                    <li *ngFor="let game of pokemon?.game_indices">
                        <p>{{ game?.version?.name }}</p>
                        <hr>
                    </li>
                </ul>
            </div>
            
            <div class="info-section">
                <p>Altura:</p>
                <p>{{pokemon?.height}} m</p>
            </div>
            
            <hr>
            
            <div class="info-section">
                <p>Peso:</p>
                <p>{{pokemon?.weight}} kg</p>
            </div>
            
            <hr>
            
            <div class="info-section">
                <p>Movimientos: </p>
                <ul>
                    <li *ngFor="let move of pokemon?.moves">
                        <p>{{ move?.move?.name }}</p>
                        <hr>
                    </li>
                </ul>
            </div>
           
            <div class="info-section">
                <p>Estadisticas: </p>
                <ul>
                    <li *ngFor="let stat of pokemon?.stats">
                        <p>{{ stat?.stat?.name }}: {{stat?.base_stat}}</p>
                        <hr>
                    </li>
                </ul>
            </div>
            
            <div class="info-section">
                <p>Tipos: </p>
                <ul>
                    <li *ngFor="let type of pokemon?.types">
                        <p>{{ type?.type?.name }} </p>
                        <hr>
                    </li>
                </ul>
            </div>
            
        </div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
</div>